@import "../sass/sass.scss";

* {
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    // background-image: url("../img/Без\ названия\ \(3\).jpg");
    // background-size: cover;
    background: #222;
}

.main {
    width: 100%;
}

.main__wrapper {
    background-image: url("../img/Без\ названия\ \(2\).jpg");
    background-size: cover;
    
    // background-size: cover;
    // background: #dfdb13;
    height: 100vh;
    width: 90%;
    display: flex;
    align-items: center;
    filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #666666);

    ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 36px;
        font-weight: 500;
        margin: 0 60px 22px;
        margin-top: 20px;
        letter-spacing: 1px;
        margin-top: 30px;
        color: #dfdb13;
        // filter: drop-shadow(5px 5px 5px #e2b0b0);
        // filter: drop-shadow(5px 5px 5px #dfdb13);
        filter: drop-shadow(5px 5px 5px #222);
        filter: drop-shadow(5px 5px 5px #666666);
    }

    a {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        color: #dfdb13;
        text-align: center;
        text-decoration: none;
        transition: all 0.3s ease;
        filter: drop-shadow(5px 5px 5px #e2b0b0);
        filter: drop-shadow(5px 5px 5px #dfdb13);
    }

    a:link {
        font-size: 21px;
        line-height: 21px;
        color: white;
    }
    
    a:visited {
        text-decoration: underline;
    }
    
    a:hover {
        color: white;
        font-size: 22px;
    }
    
    a:focus {
        padding: 4px 6px;
        color: white;
        text-decoration: underline
    }

    a:active {
        font-size: 21px;
        line-height: 21px;
        color: gray;
        text-decoration: underline;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .main__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: #dfdb13;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            // background-color: #dfdb13;
        }

        li {
            display: inline-block;
        }

        a {
            display: block;
            padding: 6px 12px;
            text-decoration: none;
            color: #222;
        }

        a:link {
            font-size: 20px;
            line-height: 20px;
            // color: gray;
        }

        a:visited {
            text-decoration: underline;
        }

        a:hover {
            color: gray;
            font-size: 21px;
        }

        a:focus {
            color: white;
            text-decoration: underline;
            padding: 4px 6px;
        }

        a:active {
            font-size: 18px;
            line-height: 18px;
            color: gray;
            text-decoration: underline;
        }
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .main__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: #dfdb13;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        li {
            display: inline-block;
        }

        a {
            display: block;
            padding: 6px 12px;
            text-decoration: none;
            font-size: 14px;
            color: #222;
        }

        a:link {
            font-size: 14px;
            line-height: 14px;
            // color: gray;
        }

        a:visited {
            text-decoration: underline;
        }

        a:hover {
            color: gray;
            font-size: 15px;
        }

        a:active {
            font-size: 18px;
            line-height: 18px;
            color: gray;
            text-decoration: underline;
        }
    }
}

@media (min-width:576px) and (max-width:767px) {
    .main__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: #dfdb13;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        li {
            display: inline-block;
        }

        a {
            display: block;
            padding: 6px 12px;
            text-decoration: none;
            font-size: 12px;
            color: #222;
        }

        a:link {
            font-size: 12px;
            line-height: 12px;
            // color: gray;
        }

        a:visited {
            text-decoration: underline;
        }

        a:hover {
            color: gray;
            font-size: 13px;
        }

        a:focus {
            color: gray;
            text-decoration: underline;
            padding: 4px 6px;
        }

        a:active {
            font-size: 12px;
            line-height: 12px;
            color: gray;
            text-decoration: underline;
        }
    }
}

@media (max-width:575px) {
    .main__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: #dfdb13;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        li {
            display: inline-block;
        }

        a {
            display: block;
            padding: 6px 12px;
            text-decoration: none;
            font-size: 12px;
            color: #222;
        }

        a:link {
            font-size: 12px;
            line-height: 10px;
            // color: gray;
        }

        a:visited {
            text-decoration: underline;
        }

        a:hover {
            color: gray;
            font-size: 12px;
        }

        a:focus {
            color: gray;
            text-decoration: underline;
            padding: 4px 6px;
        }

        a:active {
            font-size: 10px;
            line-height: 10px;
            color: gray;
            text-decoration: underline;
        }
    }
}


// @media (max-width: 768.9px) {
//     a {
//         font-size: 10px;
//         color: red;
//     }

//     li {
//         color: red;
//     }
// }

// ширина экрана

// .field {
//     box-sizing: border-box;
//     margin: 10px;
//     border: 1px solid blue;
//     height: calc(100% - 20px);
// }

// button {
//     white-space: nowrap;
//     padding: 10px 20px;
//     position: absolute;
//     left: 10%;
//     top: 10%;
//     transform: translate(-50%, -50%);
//     transition: all 0.2s ease;
// }